use_guix_shell() {
  LFILE=channels-lock.scm
  if [ -f $LFILE ]; then
    eval "$(guix time-machine -C $LFILE -- shell -L ./ "$@" --search-paths)"
  else
    eval "$(guix shell -L ./ "$@" --search-paths)"
  fi
}

use guix_shell
