(use-modules (rde features)
	     (rde features base)
	     (rde features gnupg)
	     (rde features keyboard)
	     (ice-9 match))

;; (define my-features
;;   (list
;;    (feature-user-info #:user-name "bob"
;; 		#:full-name "Andrew Tropin"
;; 		#:email "andrew@trop.in")
;;    ;; (feature-gnupg #:gpg-primary-key "74830A276C328EC2")
;;    ;; (feature-keyboard #:layout "us,ru" #:options "dvorak,")
;;    ;; (feature-sway)
;;    ;; (feature-projects #:directory "work")
;;    ;; (feature-emacs #:server? #t)
;;    ;; (feature-emacs-rss)
;;    ;; (feature-emacs-org-roam)
;;    ))

(define %bob-features
  (list
   (feature-user-info
    #:user-name "bob"
    #:full-name "Andrew Tropin"
    #:email "andrew@trop.in")
   (feature-gnupg
    #:gpg-primary-key "74830A276C328EC2")))

(define %abcdw-features
  (list
   (feature-user-info
    #:user-name "abcdw"
    #:full-name "Andrew Tropin"
    #:email "andrew@trop.in")
   (feature-gnupg
    #:gpg-primary-key "74830A276C328EC2")))

(define %devenv-features
  (list
   ;; (feature-git
   ;;  ;; #:gpg-sign-key ""
   ;;  #:sign-commits? #t)
   ))

(define %generic-features
  (list
   (feature-keyboard
    #:keyboard-layout %dvorak-jcuken-layout)))

(define %laptop-features
  (list))

(define ixy-config
  (rde-config
   (features
    (append
     %bob-features
     %generic-features
     %devenv-features
     %laptop-features))))

(define (dispatcher)
  (let ((rde-target (getenv "RDE_TARGET")))
    (match rde-target
      ("ixy-home" (rde-config-home-environment ixy-config))
      ("ixy-system" (rde-config-operating-system ixy-config))
      (_ "no RDE_TARGET matched"))))

(dispatcher)
